/doc/*.css
/doc/*.js
/doc/_*.xml
/doc/chap*.html
/doc/chap*.txt
/doc/chap*_mj.html
/doc/chap*_mj.txt
/doc/chooser.html
/doc/main.*
/doc/manual.aux
/doc/manual.bbl
/doc/manual.blg
/doc/manual.dvi
/doc/manual.example-*.tst
/doc/manual.idx
/doc/manual.ilg
/doc/manual.ind
/doc/manual.lab
/doc/manual.log
/doc/manual.pdf
/doc/manual.ps
/doc/manual.six
/doc/manual.toc
/doc/title.xml
/doc/tthin
/doc/tthmacros.tex
/doc/tthout
/gh-pages/
/htm/
/tmp/
